@import "./_base.scss";

* {
    box-sizing: border-box;
}

header {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    margin-left: 10px;
}

button.member-add {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #cf371e;
    display: inline-block;
    color: #fff;
    font-size: 46px;
    text-align: center;
    line-height: 40px;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 0 155px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 #344b60;
    border-radius: 12px;
}

.box {
    width: 100%;
    text-align: left;
}

.active-counter {
    color: #d8d8d8;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}

.invite-member {
    margin-top: -2px;
}

span.plus-user-img {
    background-image: $user;
    width: 23px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.invite {
    border: none;
    color: #586c7e;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;

    &:hover {
        cursor: pointer;
    }
}

h1 {
    display: inline-block;
    font-weight: 100;
    margin-right: 10px;
    font-family: "Nunito Sans", sans-serif;
}

.active {
    display: flex;
    padding: 32px 0;
}

.remove {
    float: right;
    background-image: $bin;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    opacity: 0;
    background-color: #f3f9ff;
}

.box tbody tr:hover {
    .remove {
        opacity: 1;
        cursor: pointer;
    }
}

.box tbody tr:hover {
    background-color: #f3f9ff;
}

td {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #566b7d;
    border-bottom: 1px solid #ddd;
}

.box th,
.box td {
    padding: 25px 0;
}

tr th:last-child {
    width: 300px;
}

tr td:nth-child(2) {
    width: 400px;
    padding-top: 22px;
}

tr td:nth-child(1) {
    width: 340px;
}

th {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #475d71;

    &:nth-child(2) {
        width: 274px;
    }

    &:last-child {
        width: 117px;
    }
}